<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img ion-right src="assets/imgs/bananalogo.png" class="navbarLogo" />
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to {{userDetails.name}}</h2>
  <ion-item id="udpateBox">
    <textarea #updatebox [(ngModel)]="userPostData.feed" autofocus></textarea>
    <ion-row>
      <button ion-button color="energy" (click)="feedUpdate()">Update</button>
    </ion-row>
  </ion-item>

  <ion-card *ngFor="let item of dataSet; let msgIndex = index">
    <ion-item>
      <ion-icon name="trash" item-right (click)="feedDelete(item.feed_id, msgIndex)"></ion-icon>
      <ion-card-content>
        <p [innerHTML]="item.feed | linky"></p>
        <span>{{this.converTime(item.created) | amTimeAgo}}</span>
      </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="noRecords">
    <ion-item>
      No Records
    </ion-item>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" *ngIf="!noRecords">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>