
        input {
            font-size: 15px;
            line-height: 30px;
            padding: 4px 4px !important;
            border: 1px solid #333333 !important;
            border-radius: 5px;
            -webkit-transition: border 0.2s;
            transition: border 0.2s;
            background-clip: padding-box;
            -webkit-appearance: none;
            width: 100%;

        }
       
page-signup {

}
